<div id="content-wrapper">
  <div class="page-content">
    <div class="row header">
      <div class="col-xs-12">
        <div class="meta col-xs-4">
          <div class="page">
            Impac! Widget
            <select name="select-widget" id="select-widget" class="input-sm"
                ng-options="widget.engine as widget.name for widget in vm.widgets | orderBy:'name'"
                ng-model="vm.selectedWidget"></select>
          </div>
        </div>
        <div class="meta col-xs-2">
          <div class="page"><input class="form-control input-sm col-lg-12" type="text" ng-model="endpointSvc.apikey" ng-required="true" ng-blur="vm.changeCredentials()" placeholder="API Key"></div>
          <div class="breadcrumb-links">API Key</div>
        </div>
        <div class="meta col-xs-2">
          <div class="page"><input class="form-control input-sm col-lg-12" type="text" ng-model="endpointSvc.apisecret" ng-required="true" ng-blur="vm.changeCredentials()" placeholder="API Secret"></div>
          <div class="breadcrumb-links">API Secret</div>
        </div>
        <div class="meta col-xs-1">
          <div class="page"><input class="form-control input-sm col-lg-12" type="text" ng-model="endpointSvc.groupid" ng-required="true" ng-blur="vm.changeCredentials()" placeholder="Group ID"></div>
          <div class="breadcrumb-links">Group ID</div>
        </div>
        <div class="meta col-xs-3">
          <div class="page"><input class="control input-sm col-lg-12" type="text" ng-model="vm.apiEndpoint"></div>
          <div class="breadcrumb-links">API Endpoint</div>
        </div>
      </div>
    </div>

    <div id="widget" class="container-fluid">
      <div class="alert ng-isolate-scope alert-danger alert-dismissable" data-ng-repeat="alert in vm.alerts">
        <div><span class="ng-binding ng-scope">{{alert.message}}</span></div>
      </div>

      <div id="list-widget">
        <label>Fetch data</label>
        <button class="btn btn-sm btn-info" ng-click="vm.fetchData()">Go</button>
        <div>
          <pre>
            <code>{{vm.response}}</code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>